.button {
    -fx-font-weight: bold;
}

.rack{
	/*-fx-background-image: url("../images/rack.png");*/
		
}

.rackHide{
	
}

.tile{
	-fx-font-family: 'Open Sans';
	-fx-text-transform: uppercase;
	-fx-font-weight: 900;
	-fx-font-size:20px;
	-fx-color: #444;
	-fx-display: inline-block;
	-fx-background-color:  #ffeeba;
	-fx-background-image: url("../images/tile-texture.png");
	-fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);     
}

.slot{
	
}
