
.button {
	
}

.rack{
	/*-fx-background-image: url("../images/rack.png");*/
		
}

.rackHide{
	
}

.tile{
	-fx-font-family: 'Open Sans';
	-fx-text-transform: uppercase;
	-fx-font-weight: 900;
	-fx-font-size:20px;
	-fx-color: #444;
	-fx-display: inline-block;
	-fx-background-color:  #ffeeba;
	-fx-background-image: url("../images/wood_texture.png");
	-fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);     
}

.slot{
	-fx-background-image: url("../images/slot.png");
	-fx-effect: innershadow(three-pass-box, black, 10, 0, 0, 0);    
	-fx-background-position: center,center;
	-fx-background-size: 40,40;
	-fx-background-repeat:no-repeat;
}

.slot_2L{
	-fx-background-image: url("../images/slot_2L.png");
	-fx-effect: innershadow(three-pass-box, black, 10, 0, 0, 0);    
	-fx-background-position: center,center;
	-fx-background-size: 40,40;
	-fx-background-repeat:no-repeat;
}
.slot_3L{
	-fx-background-image: url("../images/slot_3L.png");
	-fx-effect: innershadow(three-pass-box, black, 10, 0, 0, 0);    
	-fx-background-position: center,center;
	-fx-background-size: 40,40;
	-fx-background-repeat:no-repeat;
}
.slot_W{
	-fx-background-image: url("../images/slot_W.png");
	-fx-effect: innershadow(three-pass-box, black, 10, 0, 0, 0);    
	-fx-background-position: center,center;
	-fx-background-size: 40,40;
	-fx-background-repeat:no-repeat;
}

.slot_7letter{
	-fx-background-image: url("../images/slot_7letter.png");
	-fx-effect: innershadow(three-pass-box, black, 10, 0, 0, 0);    
	-fx-background-position: center,center;
	-fx-background-size: 40,40;
	-fx-background-repeat:no-repeat;
}

.backgroundGame{
	-fx-background-color: #ffeeba;
	-fx-background-image: url("../images/wood_texture.png");
	-fx-effect: dropshadow(three-pass-box, gray, 10, 0, 0, 0);  
}

.backgroundGame_bottom{
	-fx-background-color: #ffeeba;
	-fx-background-image: url("../images/wood_texture.png");
	-fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0); 
	-fx-alignment:center;
}

.bodyBackground {
}

