#pane{
	-fx-background-color: #ffd3a3;
	-fx-background-image: url("../images/wood_texture.png");
	-fx-effect: dropshadow(gaussian, purple, 10, 0, 0, 0);
}

.check-box{
	-fx-opacity:100;
}

.check-box .box {
	-fx-background-color: white;
	-fx-border-color:grey;
	-fx-border-radius:3px; 
}

.check-box:selected .mark {
	-fx-shape:"M14.596,2.055L12.455,0C9.687,2.884,6.011,6.714,5.158,7.602L2.055,4.624L0,6.765l5.242,5.037l0.003-0.004 l0.003,0.004L14.596,2.055z";
	-fx-background-color:#00FF00;
	-fx-scale-x: 2;
    -fx-scale-y: 2;
	-fx-translate-y:-6;
	-fx-translate-x: 4;
}

.check-box:selected .box {
	-fx-background-color: white;
}

.label{
	-fx-font-weight: 900;
	-fx-font-size:18px;
	-fx-color: #444;
	-fx-display: inline-block;
	-fx-text-alignment:center;
}